<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Amir Cat API</title>
    <link rel="stylesheet" href="/index.css">
</head>
<body>
<nav class="navbar toppage">
    <div class="brand-title">Cat API</div>
    <a href="#" class="toggle-button">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </a>
    <div class="navbar-links">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/swagger-ui/">Swagger UI</a></li>
        </ul>
    </div>
</nav>

<div id="div-bg">
    <h1 style="margin-top: 80px;">Welcome to the Cat API home page.</h1>
    <p style="background-color: blanchedalmond;">Please navigate to the <a href="/swagger-ui/">Swagger UI</a> page to test the APIs.</p>
</div>

</body>
</html>